---
import Layout from '@/layouts/Layout.astro';
import Main from '@/layouts/Main.astro';

import HomeHero from '@/sections/HomeHero.astro';
import Speakers from '@/sections/Speakers.astro';
import WantoToBeSponsor from '@/sections/WantoToBeSponsor.astro';
import Sponsors from '@/sections/Sponsors.astro';
import Schedule from '@/sections/Schedule.astro';
import Volunteers from "@/sections/Volunteers.astro";

import DefumedCard from '@/components/DefumedCard.astro';
import RightPalmSvg from '@/components/Svgs/RightPalm.astro';
import MapPointerIcon from '@/components/Svgs/MapPointerIcon.astro';
import CalendarIcon from '@/components/Svgs/CalendarIcon.astro';

---

<Main minimal>
  <HomeHero minimal />
  <section class="relative max-w-[1920px] z-1 mx-auto overflow-hidden">
    <Layout class="py-20">
      <div class='flex flex-col items-center justify-center relative z-[9]'>
        <h2 class="h3 text-center">!Coming Soon!</h2>
      </div>
      <div class="relative flex flex-col gap-3 md:gap-6 max-w-[860px] w-full mx-auto pt-[60px] pb-[30px] md:pt-[80px] md:pb-[40px] xl:pb-[60px] z-10">
        <h2 class="h6">
          <span class="text-aqua h6">CaribeConf conectará +300 personas</span>
          de comunidades del Caribe, abordando temas transversales a lenguajes de programación,
          mujeres en tech, desarrollo de software, UX/UI, inteligencia artificial, hacking y tendencias actuales.
        </h2>
        <span class="font-[500]">
          Charlas imperdibles, talento emergente, oportunidades únicas.
        </span>
      </div>
    </Layout>
    <div class='absolute bottom-0 right-0 z-[0] flex h-[250px] sm:h-[400px] lg:h-[500px] translate-y-[10%] translate-x-[50px]'>
      <RightPalmSvg fill='#1F183C' class='h-full' width={null} height={null} />
    </div>
  </section>
  <WantoToBeSponsor />
  <section id='speakers' class='mx-auto relative bg-[#747099]'>
    <Layout class='relative py-[100px] md:py-[100px]'>
      <div class='flex flex-col items-center gap-6'>
        <h2>Speakers</h2>
        <p class='h6 text-center max-w-[600px]'>Próximamente estaremos abriendo nuestro CFP</p>
      </div>
    </Layout>
  </section>
</Main>
