---
import Layout from '@/layouts/Layout.astro';
import Main from '@/layouts/Main.astro';
import HomeHero from '@/sections/HomeHero.astro';
import Speakers from '@/sections/Speakers.astro';
import Sponsors from '@/sections/Sponsors.astro';
---

<Main>
  <HomeHero />
  <section class="mx-auto">
    <Layout>
      <div class="flex flex-col gap-3 md:gap-6 max-w-[860px] w-full mx-auto pt-[60px] pb-[80px] md:pt-[80px] md:pb-[100px] xl:pb-[140px]">
        <h2 class="h6">
          <span class="text-aqua h6">CaribeConf conectará +300 personas</span>
          de comunidades del Caribe, abordando temas transversales a lenguajes de programación,
          mujeres en tech, desarrollo de software, UX/UI, inteligencia artificial, hacking y tendencias actuales.
        </h2>
        <span class="font-[500]">
          🌟 Charlas imperdibles, talento emergente, oportunidades únicas.
        </span>
      </div>
    </Layout>
  </section>
  <Speakers />
  <Sponsors />
</Main>
