---
import Layout from "@shared/components/Layout.astro";
import VerticalDivider from '@/components/VerticalDivider.astro';
---

<section class="relative gradient-bg">
  <Layout class="relative w-full flex flex-col pt-[120px] lg:pt-[160px] pb-[100px] lg:pb-[200px] gap-12">
    <div class="become-speaker flex flex-col w-full lg:items-center gap-[20px] p-[30px] lg:p-[50px] lg:gap-[50px] lg:flex-row rounded-[19px]">
      <h2 class="h3 text-[#FBC273] font-bold text-left lg:py-5 lg:max-w-[400px]">
        ¡Conviértete en Speaker!
      </h2>
      <div class="hidden lg:block self-stretch">
        <VerticalDivider />
      </div>
      <div class="flex flex-col gap-8 w-full lg:py-5">
        <div class="flex flex-col gap-4 w-full">
          <p class="small-text text-white text-left">
            Comparte tu conocimiento, experiencias o
            aprendizajes con la comunidad tecnológica del Caribe.
          </p>
          <p class="small-text text-white text-left">
            Buscamos charlas y workshops prácticos, reales y cercanos.
          </p>
        </div>
        <a
          href='https://sessionize.com/caribeconf-2026/'
          target='_blank'
          class='btn btn--primary btn-big btn-md-rounded bg-[#F26457] w-fit uppercase text-center'
        >
          Postula tu charla
        </a>
      </div>
    </div>
  </Layout>
</section>

<style>
  .gradient-bg {
    background: linear-gradient(180deg, #130A26 19.31%, #F26457 223.14%);
  }

  .become-speaker {
    box-shadow: 0px 0px 20.1px 0px #D9667BA3;
    background: #FFFFFF12;
  }
</style>
