---
import Layout from '@/layouts/Layout.astro';
import EmeraldSvg from '@/components/Svgs/Emerald.astro';
import PearlSvg from '@/components/Svgs/Pearl.astro';
import QuartzSvg from '@/components/Svgs/Quartz.astro';
import LeftPalmSvg from '@/components/Svgs/LeftPalm.astro';
import RightPalmSvg from '@/components/Svgs/RightPalm.astro';
import GroundSvg from '@/components/Svgs/Ground.astro';

---
<section id='sponsors' class='overflow-hidden'>
  <Layout class='flex flex-col gap-8 items-center py-[140px] md:flex-row'>
    <div class='max-w-[600px] flex flex-col gap-[32px] z-10'>
      <h2 class='text-cian'>¡Conviértete en Sponsor!</h2>
      <div class='flex flex-col gap-[20px]'>
        <p class='font-bold'>¿Por qué patrocinarnos?</p>
        <ul class='list-disc pl-[30px] flex flex-col gap-[10px]'>
          <li>
            <span>
              <span class='font-semibold'>Acceso al talento:</span>
              CaribeConf reúne a los mejores devs o
              desarrolladores y líderes de comunidad de la región.
            </span>
          </li>
          <li>
            <span>
              <span class='font-semibold'>Visibilidad de marca:</span>
              asegúrate de ser reconocido como aliado
              en la industria tecnológica.
            </span>
          </li>
          <li>
            <span>
              <span class='font-semibold'>Impacto regional:</span>
              Somos un ecosistema tecnológico
              emergente con alto potencial.
            </span>
          </li>
        </ul>
        <p class='small-text'>
          Tu apoyo será clave para impulsar la innovación, el talento y la diversidad en el Caribe.
        </p>
      </div>
      <a
        class='btn btn--pink text-black z-10 md:max-w-[390px]'
        href='mailto:hello@caribedev.org'
        target='_blank'
      >
        Quiero ser Sponsor 🌟
      </a>
    </div>
    <div class='flex flex-1 items-center justify-center z-10'>
      <div class='flex flex-col gap-[40px]'>
        <div class='flex gap-8 items-center'>
          <EmeraldSvg />
          <span class='font-bold p uppercase'>Esmeralda</span>
        </div>
        <div class='flex gap-8 items-center'>
          <PearlSvg />
          <span class='font-bold uppercase'>Perla</span>
        </div>
        <div class='flex gap-8 items-center'>
          <QuartzSvg />
          <span class='font-bold uppercase'>Cuarzo</span>
        </div>
      </div>
    </div>
  </Layout>
</section>
