---
import Main from '@/layouts/Main.astro';
import Hero from '@/sections/Hero.astro';
import CountDown from '@/sections/CountDown.astro';
import AboutUs from '@/sections/AboutUs.astro';
import Speakers from '@/sections/Speakers.astro';
---
<Main>
  <main class="min-h-dvh flex justify-center flex-col">
    <Hero />
    <CountDown />
    <AboutUs />
    <Speakers />
  </main>
</Main>
